* {
  font-family: 'Wix Madefor Text', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.bg1 {
  background-color: #e5f7ff; }

.bg2 {
  background-color: #006396; }

.bg3 {
  background-color: #fff; }

.bg4 {
  background-color: #23a6e7; }

body {
  background-color: #e5f7ff; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  max-width: 1000px; }

@media screen and (min-width: 480px) {
  .container {
    height: 500px; } }

/*.button--------------------------------------------------------------------------*/
.button {
  background-color: #006396;
  color: #e5f7ff;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: .1s; }
  .button:hover {
    background-color: #23a6e7; }

/*header--------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: fixed;
  z-index: 10;
  width: 100%; }
  header .headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 75px;
    width: 100%;
    padding: 1rem;
    background-color: #e5f7ff; }
    header .headerTop .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0;
      text-decoration: none; }
      header .headerTop .logo img {
        width: 1.5rem; }
      header .headerTop .logo p {
        font-size: 1rem;
        font-weight: 700;
        color: #006396; }
    header .headerTop input {
      background-color: #fff;
      border: 2px solid #006396;
      border-radius: 10px;
      color: #006396;
      font-weight: 500;
      height: 2rem;
      width: 100%;
      max-width: 300px;
      text-align: center; }
    header .headerTop .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
      header .headerTop .icon svg {
        transition: 0.1s;
        cursor: pointer; }
        header .headerTop .icon svg:hover {
          transform: scale(110%); }
      header .headerTop .icon .open {
        cursor: pointer;
        display: none; }

.nav {
  display: flex;
  width: 100%; }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .5s;
    margin: 0;
    background-color: #e5f7ff;
    width: 100%;
    padding: 1rem;
    text-align: center; }
    .nav ul svg {
      display: none; }
    .nav ul a {
      text-decoration: none; }
      .nav ul a li {
        list-style: none;
        color: #006396;
        font-weight: 500;
        transition: 0.1s; }
        .nav ul a li:hover {
          color: #23a6e7;
          transform: scale(110%); }

@media screen and (max-width: 768px) {
  .open {
    display: block !important; }
  .nav {
    display: flex; }
    .nav ul {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 2rem;
      background-color: #006396;
      position: absolute;
      height: 100vh;
      width: fit-content;
      right: 0;
      top: 0;
      z-index: 15;
      transition: .5s;
      padding: 1.5rem;
      margin: 0; }
      .nav ul svg {
        cursor: pointer;
        display: block; }
      .nav ul a {
        text-decoration: none; }
        .nav ul a li {
          list-style: none;
          color: #e5f7ff;
          font-weight: 500;
          transition: 0.1s; }
          .nav ul a li:hover {
            color: #23a6e7;
            transform: scale(110%); } }

.ul.visible {
  opacity: 1;
  visibility: visible; }

/*hero-----------------------------------------------------------------------*/
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #e5f7ff;
  padding: 7rem 0 1rem;
  width: 100%; }
  .hero img {
    display: none; }
  .hero .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: linear-gradient(to right, rgba(229, 247, 255, 0.5), rgba(0, 99, 150, 0.5)), url("../img/hero.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 80vh; }
  .hero .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center; }
    .hero .heroText h2 {
      color: #e5f7ff;
      font-weight: 600;
      font-size: 1.5rem; }

@media screen and (min-width: 480px) {
  .hero .heroContent {
    width: 100%; }
    .hero .heroContent img {
      display: block;
      height: 100%; }
    .hero .heroContent .heroText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 75%; } }

@media screen and (min-width: 768px) {
  .hero {
    padding: 9.5rem 0rem 1rem;
    width: 100%; } }

/*carousel-----------------------------------------------------------------------*/
.carouselSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0; }
  .carouselSection h2 {
    color: #006396; }
  .carouselSection .carouselContain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 1400px; }
    .carouselSection .carouselContain .arrowCarousel {
      opacity: 70%; }
      .carouselSection .carouselContain .arrowCarousel:hover {
        opacity: 100%;
        cursor: pointer; }
    .carouselSection .carouselContain .carousel {
      width: 100%;
      display: flex;
      gap: 1rem;
      scroll-behavior: smooth;
      overflow-x: auto; }
      .carouselSection .carouselContain .carousel::-webkit-scrollbar {
        display: none; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  min-width: 150px;
  max-width: 190px;
  min-height: 380px;
  max-height: 380px; }
  .card svg {
    opacity: 50%;
    cursor: pointer; }
    .card svg:hover {
      opacity: 100%; }
  .card .cardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%; }
    .card .cardText h4,
    .card .cardText p {
      color: #006396; }
      .card .cardText h4:nth-child(2),
      .card .cardText p:nth-child(2) {
        color: #747474; }
  .card img {
    width: 100%;
    max-height: 180px; }

/*footer----------------------------------------------------------------------*/
footer {
  background-color: #e5f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem; }
  footer img {
    width: 80px; }
  footer .footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center; }
    footer .footerText p {
      color: #006396;
      font-weight: 600; }
  footer .soporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    footer .soporte h4 {
      color: #006396; }
    footer .soporte ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      text-align: center; }
      footer .soporte ul a {
        text-decoration: none; }
        footer .soporte ul a li {
          list-style: none;
          color: #006396;
          font-weight: 600; }

@media screen and (min-width: 768px) {
  .footerContent {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr); } }

/*allproduct---------------------------------*/
.mainProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }
  .mainProduct .checks {
    padding: 9.5rem 1rem 1rem;
    background-color: #e5f7ff;
    width: 100%; }
    .mainProduct .checks ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
      .mainProduct .checks ul li {
        list-style: none;
        text-align: center;
        width: 100%; }
        .mainProduct .checks ul li .buttonCategoria {
          text-align: center;
          color: #fff;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 5px;
          background-color: #006396;
          border-radius: 10px;
          cursor: pointer;
          border: none;
          width: 100%; }
        .mainProduct .checks ul li .checked {
          background-color: #23a6e7; }

@media screen and (max-width: 768px) {
  .checks {
    padding-top: 5rem !important; }
    .checks ul {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr); } }

.productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0.5rem 1rem;
  background-color: #e5f7ff;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1250px; }

.cartOpen {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer; }
  .cartOpen p {
    color: #006396;
    font-weight: 500;
    font-size: 1.2rem; }

.carritoVacio {
  text-align: center;
  color: #006396;
  font-size: 1.5rem; }

.vaciar {
  display: none; }

.cartContainer {
  position: absolute;
  background-color: #e5f7ff;
  border-radius: 10px;
  width: 90%;
  max-height: 90vh;
  left: 5%;
  display: none;
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 2rem;
  scroll-behavior: smooth;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .cartContainer .buttonBuy {
    background-color: #006396;
    color: #e5f7ff;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: .1s; }
    .cartContainer .buttonBuy:hover {
      background-color: #2dca18; }
  .cartContainer .vaciarCarritoButton:hover {
    background-color: #ca1818; }
  .cartContainer .vaciarCarritoMasTotal {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center; }
  .cartContainer .total {
    background-color: #fff;
    color: #006396;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem; }
  .cartContainer .cardCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    background-color: #fff;
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: #006396;
    text-align: center; }
    .cartContainer .cardCart .deleteCart {
      cursor: pointer; }
    .cartContainer .cardCart img {
      max-width: 70px;
      max-width: 80px; }
    .cartContainer .cardCart .cardInfo {
      width: 100%;
      text-align: center; }
      .cartContainer .cardCart .cardInfo .cardText {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem; }

.displayFlex {
  display: flex; }

.displayNone {
  display: none; }
