* {
  font-family: 'Wix Madefor Text', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.bg1 {
  background-color: #e5f7ff; }

.bg2 {
  background-color: #006396; }

.bg3 {
  background-color: #fff; }

.bg4 {
  background-color: #002233; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  max-width: 1000px; }

@media screen and (min-width: 480px) {
  .container {
    height: 500px; } }

/*.button--------------------------------------------------------------------------*/
.button {
  background-color: #006396;
  color: #e5f7ff;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: .1s; }
  .button:hover {
    transform: scale(110%);
    border: 2px solid #e5f7ff; }

/*header--------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: fixed;
  z-index: 10;
  width: 100%; }
  header .headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 75px;
    width: 100%;
    padding: 1rem;
    background-color: #e5f7ff; }
    header .headerTop .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0; }
      header .headerTop .logo img {
        width: 1.5rem; }
      header .headerTop .logo p {
        font-size: 1rem;
        font-weight: 700;
        color: #006396; }
    header .headerTop input {
      background-color: #fff;
      border: 2px solid #006396;
      border-radius: 10px;
      color: #006396;
      height: 2rem;
      width: 100%;
      max-width: 300px;
      text-align: center; }
    header .headerTop .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem; }
      header .headerTop .icon .open {
        cursor: pointer;
        display: none; }

.nav {
  display: flex;
  width: 100%; }
  .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: .5s;
    margin: 0;
    background-color: #e5f7ff;
    width: 100%;
    padding: 1rem; }
    .nav ul svg {
      display: none; }
    .nav ul a {
      text-decoration: none; }
      .nav ul a li {
        list-style: none;
        color: #006396;
        font-weight: 500; }

@media screen and (max-width: 768px) {
  .open {
    display: block !important; }
  .nav {
    display: flex; }
    .nav ul {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 2rem;
      background-color: #006396;
      position: absolute;
      height: 100vh;
      width: fit-content;
      right: 0;
      top: 0;
      z-index: 15;
      transition: .5s;
      padding: 1.5rem;
      margin: 0; }
      .nav ul svg {
        cursor: pointer;
        display: block; }
      .nav ul a {
        text-decoration: none; }
        .nav ul a li {
          list-style: none;
          color: #e5f7ff;
          font-weight: 500; } }

.ul.visible {
  opacity: 1;
  visibility: visible; }

/*hero-----------------------------------------------------------------------*/
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #e5f7ff;
  padding: 7rem 1rem 1rem; }
  .hero img {
    display: none; }
  .hero .heroContent {
    background-image: linear-gradient(to right, rgba(229, 247, 255, 0.5), rgba(0, 99, 150, 0.5)), url("../img/hero.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .hero .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center; }
    .hero .heroText h2 {
      color: #e5f7ff;
      font-weight: 600;
      font-size: 1.5rem; }

@media screen and (min-width: 480px) {
  .hero .heroContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .hero .heroContent img {
      display: block;
      height: 100%; }
    .hero .heroContent .heroText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 75%; } }

@media screen and (min-width: 768px) {
  .hero {
    padding: 9.5rem 1rem 1rem; } }

/*categorias------------------------------------------------------------------*/
.mainIndex {
  background-color: #e5f7ff;
  padding: 1rem; }
  .mainIndex .categoriaSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0; }
    .mainIndex .categoriaSection h1 {
      color: #006396;
      font-size: 2rem;
      font-weight: 500; }
    .mainIndex .categoriaSection .categorias {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%; }
      .mainIndex .categoriaSection .categorias .categoria {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        width: 100%;
        background-color: #fff;
        height: 100%;
        max-height: 220px;
        max-width: 450px;
        box-sizing: border-box;
        padding: 1rem;
        overflow: hidden; }
        .mainIndex .categoriaSection .categorias .categoria .categoriaText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem; }
          .mainIndex .categoriaSection .categorias .categoria .categoriaText h3 {
            color: #002233; }
        .mainIndex .categoriaSection .categorias .categoria .img {
          width: 100%;
          height: 100%;
          padding: 1rem;
          object-fit: cover; }
          .mainIndex .categoriaSection .categorias .categoria .img img {
            width: 100%;
            height: 100%;
            bottom: 0; }

@media screen and (min-width: 768px) {
  .categorias {
    flex-direction: row !important; } }

/*lastest-----------------------------------------------------------------------*/
.lastestSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e5f7ff;
  padding: 1rem; }
  .lastestSection h3 {
    color: #006396; }
  .lastestSection .containerCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  max-width: 250px; }
  .card img {
    width: 100%; }

@media screen and (min-width: 480px) {
  .containerCards {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 768px) {
  .containerCards {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr); } }

/*footer----------------------------------------------------------------------*/
footer {
  background-color: #e5f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem; }
  footer img {
    width: 80px; }
  footer .footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center; }
    footer .footerText p {
      color: #006396;
      font-weight: 600; }
  footer .soporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    footer .soporte h4 {
      color: #006396; }
    footer .soporte ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      text-align: center; }
      footer .soporte ul a {
        text-decoration: none; }
        footer .soporte ul a li {
          list-style: none;
          color: #006396;
          font-weight: 600; }

@media screen and (min-width: 768px) {
  .footerContent {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr); } }

/*categorias--------------------------------------------------------------------*/
.mainCategorias {
  min-height: 100vh;
  background-color: #e5f7ff;
  padding: 9.5rem 1rem 1rem; }
  .mainCategorias svg {
    opacity: 50%;
    cursor: pointer; }
    .mainCategorias svg:hover {
      opacity: 100%; }
  .mainCategorias .categoriaProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0; }
    .mainCategorias .categoriaProductos .carousel {
      width: 100%;
      display: flex;
      gap: 1rem;
      scroll-behavior: smooth;
      overflow-x: auto; }
      .mainCategorias .categoriaProductos .carousel .card {
        min-width: 200px; }
