$color1: #e5f7ff;
$color2: #006396;
$color3: #fff;
$color4: #23a6e7;

@mixin display($display, $direction, $justify, $align, $gap){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}